.date {
    background-color: rgb(211, 200, 200);
    width: 20%;
    max-width: 7rem;
}

.dates {
    margin: 0.8rem;
}

.dateYear {
    margin-left: 1.2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.dateDate {
    margin-left: 1.8rem;
    margin-top: 0.3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.dateMonth {
    
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}