

.navs ul {
    display: flex;
}

.mar {
    margin-right: 2rem;
}

.navs ul li a{
    padding: 0.4rem 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
}

.navs ul li {
    margin: 0.9rem 0.3rem;
    padding: 0.9rem 0.3rem;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;   
    background-color: rgb(111, 29, 29);
    margin-top: auto;
}

.navs button{
    
    background-color: rgb(111, 29, 29);
    border: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: auto;
    font-size: large;
}

button:hover {
    background-color: darkolivegreen;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}