.inputs {

    display: flex;
    padding: 0.5rem;
}

.inputs label {
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.inputs input {
    flex: 3;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-left: 0.5rem;
}

.inputs input:focus {
    background-color: rgb(198, 227, 198);
    border: 2px solid darkgreen;
}

.inputs.invalid input {
    border: 2px solid red;
    background-color: rgba(255, 195, 195, 0.999);
}